[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
"aiohttp-jinja2" = "*"

[dev-packages]
aiohttp-devtools = "*"
"flake8" = "*"
pylint = "*"

[requires]
python_version = "3.6"
