{% extends "base.jinja2" %}

{% block title %}♥ quicoeur{% endblock %}

{% block body %}
  <div class="jumbotron">
    <h1 class="display-4">Quicoeur ♥</h1>
    <p class="lead">Ephemeral forum (and example aiohttp + jinja2 application)</p>
  </div>
{% endblock %}
